[submodule "Synthetic/vendor/glfw"]
	path = Synthetic/vendor/glfw
	url = git@github.com:qlurkin/glfw.git
[submodule "Synthetic/vendor/spdlog"]
	path = Synthetic/vendor/spdlog
	url = git@github.com:qlurkin/spdlog.git
